
.main{
    background-color: aliceblue;
    max-width: 70%;
    margin-left: 180px;
}

.pic img{
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    height: 400 px;
    float: left;
    cursor: pointer;
}
.float{
    display: flex;
}
.address{
    padding: 45px;
    margin-left: 50px;
}
.name{  
    margin-left: 100px;
    margin-bottom: 50px;
    float: left;
}
.name h1{
    color: rgb(177, 31, 31);
}
.info p{
    text-align: left;
    width: 500px;
    margin-left: 50px;
    font-size: larger;
    font-weight: 500;
    line-height: 30px;
}
.col-3{
    margin-left: 100px;
    border-right: 3px solid brown;
    padding-left: 10px;
    margin-bottom: 100px;
}
.col-3 h5{
    font-style: italic;
}
.col-3 p{
    padding: 5px;
    font-size: medium ;
}
.col-6{
    margin-left: 100px;
    margin-top: 50px;
}
