  <!-- FOOTER -->
  <footer class="footer mt-5 py-5">
    <div class="container">
        <div class="row">
            <!-- Get in Touch -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5>Get in Touch</h5>
                <p><a href=""><i class='bx bx-location-plus'></i></a>3 KM Sahianwala Road,<br> Khurrianwala, Faisalabad</p>
                <p><a href=""><i class='bx bx-envelope'></i></a>info@khasstores.com</p>
                <p><a href=""><i class='bx bx-phone' ></i></a>(+92) 304 111 0031</p>
       
             <div class="social-icons">
                <a id="fb" href=""><i class='bx bxl-facebook-circle'></i></a>
                <a id="twiter" href=""><i class='bx bxl-twitter' ></i></a>
                <a id="yt" href=""><i class='bx bxl-youtube' ></i></a>
                <a id="insta" href=""><i class='bx bxl-instagram-alt' ></i></a>
                <a id="pinterest" href=""><i class='bx bxl-pinterest' ></i></a>
                <a id="tiktok" href=""><i class='bx bxl-tiktok' ></i></a>
              </div>
            </div>

            <!-- Customer Support -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5>Customer Support</h5>
                <p>payment & Delivery</p>
                <p>Return & Exchange Policy</p>
                <p>Size Guide</p>
                <p>Product Care</p>
                <p>Help & FAQs</p>
                <p>How To Order</p>
                <p>Download App</p>
            </div>

            <!-- Customer Queries -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5>Customer Queries</h5>
                <p>Store Locator</p>
                <p>Wholesale Queries</p>
                <p>Terms & Services</p>
                <p>Rerfund Policy</p>
                <p>Khas for Business</p>
                <p>Track Your Order</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3 col-sm-6 mb-4">
                <h5>Quick Links</h5>
                <p>About Us</p>
                <a href="../../../SP23-BSE-032/FORM-SUBMISSION.html" target="_blank">Contact Us</a>
                <p>Fabric Glossary</p>
                <p>I Wear Khas</p>
                <p>Gift Cards</p>
                <p>Latest Ads</p>
                <p>Blogs</p>
            </div>
        </div>

        <!-- Sign Up & Save Section -->
        <div class="row sign-and-save">
            <div class="col-md-6">
                <h5>Sign Up & Save</h5>
                <p>Sign up for our newsletter and get exclusive offers and updates.</p>
            </div>
            <div class="col-md-6">
                <form class="d-flex">
                    <input type="email" class="form-control me-2" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-dark">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="end-text">
          <p>Copyright © 2024 KHAS STORES. All Rights Reserved.</p>
        </div>
    </div>
</footer>
