<nav class="navbar ">
    <div class="container-fluid">
      <div class="col-10">
        <a class="navbar-logo" href="#"><img src="/images/logo.png"alt=""></a>
      </div>
      <div class="col-2 icons">
        <a href=""><i class='bx bx-search-alt'></i></a>
        <a href=""><i class='bx bxs-truck'></i></i></a>
        <a href="/myWishlist"><i class='bx bx-shopping-bag' ></i></a>
      </div>
    </div>
  </nav>
  
      <!-- As a heading -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav text-center">
          <ul>
            <li><a class="nav-link active" aria-current="page" href="#">SALE <sup>SALE</sup></a>
              <div class="dropdown display">
                <div>
                  <ul>
                    <b>SHOP BY SEASON</b>
                    <li><a href="">SUMMER</a></li>
                    <li><a href="">WINTER</a></li>
                    <b>MEN</b>
                    <li><a href="">Waist Coat</a></li>
                    <li><a href="">Men Bottoms</a></li>
                  </ul>
                </div>
                <div>
                  <ul>
                    <b>UNSTITCHED</b>
                    <li><a href="">1 Piece</a></li>
                    <li><a href="">2 Piece</a></li>
                    <li><a href="">3 Piece</a></li>
                  </ul>
                </div>
                <div>
                  <ul>
                    <b>READY TO WAER</b>
                    <li><a href="">1 Piece</a></li>
                    <li><a href="">2 Piece</a></li>
                    <li><a href="">Bottoms</a></li>
                  </ul>
                </div>
                <div>
                  <ul>
                    <b>HOME & ACCESSORIES</b>
                    <li><a href="">Cushion Covers</a></li>
                    <li><a href="">Bedding</a></li>
                    <li><a href="">Towels</a></li>
                    <li><a href="">Kitchen</a></li>
                    <li><a href="">Bath Sets</a></li>
                    <li><a href="">Bath Rugs Bath Mats</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a class="nav-link active" aria-current="page" href="#">PRE-WINTER</a>
              <div  class="dropdown-2 display">
                <ul>
                  <li><a href="">Cambric Unstitched</a></li>
                  <li><a href="">Cambric Pret</a></li>
                </ul>
              </div>
            </li>
            <li><a class="nav-link active" aria-current="page" href="/women">WOMEN</a>
              <div class="dropdown-3 display">
                <div>
                    <ul>
                      <b>UNSTITCHED</b>
                      <li><a href="">Summer 3 Piece</a></li>
                      <li><a href="">Summer 2 Piece</a></li>
                      <li><a href="">Summer 1 Piece</a></li>
                      <li><a href="">Luxury Chiffon 3 Piece</a></li>
                      <li><a href="">Winter</a></li>
                      <li><a href="">Winter 2 Piece</a></li>
                      <li><a href="">Winter 3 Piece</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                      <b>READY TO WEAR</b>
                      <li><a href="">Summer Pret</a></li>
                      <li><a href="">Cambric Collection</a></li>
                      <li><a href="">Printed Kurtis</a></li>
                      <li><a href="">Embroidered Pret</a></li>
                      <li><a href="">Winter 2 Piece</a></li>
                      <li><a href="">Bottoms</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                      <b>SHOP BY FABRIC</b>
                      <li><a href="">Lawn</a></li>
                      <li><a href="">Cambric</a></li>
                      <li><a href="">Khaddar</a></li>
                      <li><a href="">Silk</a></li>
                      <li><a href="">Jacquard Linen</a></li>
                    </ul>
                </div>
              </div>
            </li>
            <li> <a class="nav-link active" aria-current="page" href="#">READY TO WEAR</a>
              <div class="dropdown-4 display">
                <ul>
                    <li><a href="">Summer</a></li>
                    <li><a href="">Winter</a></li>
                </ul>
              </div>
            </li>
            <li><a class="nav-link active" aria-current="page" href="#">MEN</a>
              <div class="dropdown-5 display">
                <ul>
                    <li><a href="">Men Unstitched Fabric</a></li>
                    <li><a href="">men Shalwar Kameez</a></li>
                    <li><a href="">Waist Coat</a></li>
                    <li><a href="">Men Bottoms</a></li>
                </ul>
            </div>
            </li>
            <li> <a class="nav-link active" aria-current="page" href="#">HOME</a>
              <div class="dropdown-6 display">
                <div>
                    <ul>
                        <b>SHOP BY COLLECTION</b>
                        <li><a href="">Room 2 Go</a></li>
                        <li><a href="">Impact</a></li>
                        <li><a href="">CLub Bed</a></li>
                        <li><a href="">Pieredy</a></li>
                        <li><a href="">Bridal</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b>BEDDING</b>
                        <li><a href="">Bed Sets</a></li>
                        <li><a href="">Bed Sheets</a></li>
                        <li><a href="">Quilt Cover</a></li>
                        <li><a href="">Cushion Covers</a></li>
                        <li><a href="">Comforters</a></li>
                        <li><a href="">Bed Spread</a></li>
                        <li><a href="">Baby Cot Sets</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b>FILLING</b>
                        <li><a href="">Quilt</a></li>
                        <li><a href="">Pillow</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b>OTHERS</b>
                        <li><a href="">Kitchen Accessories</a></li>
                        <li><a href="">Towels</a></li>
                    </ul>
                </div>
              </div>
            </li>
            <li><a class="nav-link active" aria-current="page" href="#">ACCESSORIES</a>
              <div class="dropdown-7 display">
                <ul>
                  <li><a href="">Shawls</a></li>
                  <li><a href="">Face Mask</a></li>
                </ul>
              </div>
            </li>
            <li><a class="nav-link active" aria-current="page" href="/admin/login">ADMIN</a>
            </li>
            <li><a class="nav-link active" aria-current="page" href="#">LINGERIE</a>
              <div class="dropdown-8 display">
                <ul>
                  <li><a href="">Padded Bras</a></li>
                  <li><a href="">Cotton Bras</a></li>
                  <li><a href="">Lacy Bras</a></li>
                  <li><a href="">Bra and Panty Set</a></li>
                  <li><a href="">Panties</a></li>
                  <li><a href="">Nighties and Nightsuits</a></li>
                  <li><a href="">Sports Bra & Tanks</a></li>
                  <li><a href="">Bra Accessories</a></li>
                </ul>
              </div>
            </li>
          </ul> 
        </div>
      </div>
    </div>
  </nav>